@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    background: #010;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    padding: 0 20px;
}

.slide {
    height: 80vh;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin: 5px;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
}

.slide h3 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 7px;
    font-size: 16px;
    opacity: 0;
}

.slide.active {
    flex: 8;
}

.slide.active h3{
    opacity: 1;
    transition: opacity 0.3ms ease-in 0.4ms;
}

